.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative; 
}

.home-container h1 {
  font-size: 2rem;
  text-align: center;
}

.register-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #7289da;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.register-button:hover {
  background-color: #5b6eae;
}
